@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --blue: hsl(188, 100%, 33%);
    --darkBlue: hsl(209, 74%, 27%);
    --green: hsl(77, 52%, 74%);
    --yellow: hsl(40, 76%, 55%);
    --gray: hsl(0, 0%, 94%);
    --grayText: hsl(0, 0%, 71%);

}

html {
    box-sizing: border-box;
}

*, *::before, *:after {
    /* box-sizing: inherit; */
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* --------------------------BARRA DE NAVEGACIÓN------------------------- */

.header {
    background: var(--darkBlue);
    height: 75vh;
}

.navbar {
    height: 110px;
    display: flex;
    align-items: center;
}

.navbar__logo {
    position: relative;
    left: 25px;
    width: 75%;
}

.nav__checkbox {
    display: none;
}

.nav__toggle {
    position: absolute;
    cursor: pointer;
    right: 25px;
}

.nav__toggle .close {
    display: none;
}

.navbar-content {
    display: none;
    list-style-type: none;
    background-color: var(--white);
    width: 90%;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 20px;
}

.menu__item {
    margin: 20px 0;
    color: var(--darkBlue);
    font-weight: 600;
    display: inline-block;
}

.menu li {
    cursor: pointer;
}

#nav__checkbox:checked ~ .navbar-content {
    display: block;
    position: absolute;
    top: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

.navbar-content li {
    list-style: none;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}


/* ----------------------------- TOGGLE MENU -------------------------------  */

.item-icon {
    width: 10px;
    height: 10px;
    background: url(../Calculadora-del-IFCS/img/icon-arrow-dark.svg) center center no-repeat;
    color: var(--yellow);
    display: inline-block;
}

.submenu {
    position: relative;
    background-color: var(--green);
    border-radius: 5px;
    text-align: center;
    width: 70%;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    color: var(--white);
    font-weight: 600;
    padding: 20px 0;
}

.menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-clicked {
    color: var(--yellow);
}

.item-icon__rotate {
    transform: rotate(180deg);
}

.submenu__item {
    margin: 10px 0;
}

.submenu__item:hover, .active {
    font-weight: 600;
}

.menu-open {
    display: block;
    opacity: 1;
    justify-content: space-around;
    padding: 5%;
}

.submenu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ----------------------------- PORTADA -------------------------------  */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78%;
    color: var(--white);
}

.hero-tittle {
    font-weight: bold;
    font-size: 190%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 45%;
}

.paragraph-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
}


.hero-paragraph {
    width: 80%;
    text-align: center;
    font-size: 120%;
    font-weight: 500;
    color: var(--white);
    line-height: 1.2;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 100%;
}

.btn {
    text-decoration: none;
    height: 35%;
    width: 35%;
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    font-family: 'Source-sans-pro', sans-serif;
    font-weight: 700;
    font-size: 105%;
}

.btn--white {
    background-color: var(--white);
    color: var(--darkBlue)
}

.btn--transparent {
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
}


/* ----------------------------- MAIN -------------------------------  */

.img1 {
    width: 100%;
    border: 0;
    margin: 0;
}

.quote-container {
    padding: 2rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.quote {
    text-align: center;
    color: var(--darkBlue);
    font-weight: 600;
    line-height: 1.2;
}

/* ----------------------------- FORM -------------------------------  */

.calc-form {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: center;
}

.form-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    padding: 1rem 0;
    width: 100%;
}

.form-start {
    color: var(--white);
}

.form-desc {
    color: var(--darkBlue);
    font-weight: 600;
    font-size: 110%;
}

.form-title a {
    color: var(--white);
    font-weight: 300;
    font-size: 105%;
    margin-top: .6rem;
}

/* ----------------------------- FORM SECTION GENERAL-------------------------------  */

.form-section-cont {
    width: 100%;
}

.form-section {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 120%;
}

.subt-num {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin-right: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.input-container input {
    width: 100%;
    height: 2rem;
    background-color: var(--gray);
    border: none;
    border-radius: .5rem;
}

.input-container2 input {
    width: 100%;
    height: 2rem;
    background-color: var(--white);
    border: none;
    border-radius: .5rem;
}

.input-container ::placeholder {
    padding: 1rem;
    color: var(--grayText);
    font-size: 120%;
}

.input-container2 ::placeholder {
    padding: 1rem;
    color: var(--grayText);
    font-size: 120%;
}

/* ----------------------------- FORM SECTION 1-------------------------------  */

.subt-1 {
    background-color: var(--blue);
    color: var(--white);
}

.subt-1-desc {
    color: var(--darkBlue);
}

.sect1 {
    background-color: var(--white);
}

.inp-cont-1 p {
    color: var(--darkBlue);
    margin-left: .4rem;
    margin-bottom: .2rem;
}

/* ----------------------------- FORM SECTION 2-------------------------------  */

.sect2 {
    background-color: var(--blue);
}

.subt-2 {
    background-color: var(--yellow);
    color: var(--blue);
}

.subt-2-desc {
    color: var(--white);
}

.inp-cont-2 p {
    color: var(--white);
    font-weight: 400;
    margin-left: .4rem;
    margin-bottom: .2rem;
}

.desc-2 {
    background-color: var(--green);
    margin-top: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 80%;
    color: var(--darkBlue);
    font-weight: 600;
}

/* ----------------------------- FORM SECTION 3-------------------------------  */

.subt-3 {
    background-color: var(--green);
    color: var(--white);
}

.subt-3-desc {
    color: var(--darkBlue);
}

.inp-cont-3 p {
    color: var(--darkBlue);
    font-weight: 400;
    margin-left: .4rem;
    margin-bottom: .2rem;
}

/* -----------------------------IMG 2-------------------------------  */

.img2 {
    width: 100%;
    border: 0;
    margin: 0;
}

/* ----------------------------- FORM SECTION 4-------------------------------  */

.sect4 {
    background-color: var(--green);
}

.subt-4 {
    background-color: var(--darkBlue);
    color: var(--white);
}

.subt-4-desc {
    color: var(--darkBlue);
}

.inp-cont-4 p {
    color: var(--darkBlue);
    font-weight: 400;
    margin-left: .4rem;
    margin-bottom: .2rem;
}

.desc-4 {
    background-color: var(--yellow);
    margin-top: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 80%;
    color: var(--white);
    font-weight: 600;
}

/* ----------------------------- FORM SECTION 5-------------------------------  */

.subt-5 {
    background-color: var(--green);
    color: var(--white);
}

.subt-5-desc {
    color: var(--darkBlue);
}

.inp-cont-5 p {
    color: var(--darkBlue);
    font-weight: 400;
    margin-left: .8rem;
    margin-bottom: .2rem;
}

.desc-5 {
    display: flex;
    flex-direction: row;
    font-size: 90%;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.05;
}

.desc-5 input {
    width: 50%;
}

.calc-btn-cont {
    margin: 2rem 4rem 4rem 4rem;
    background-color: var(--yellow);
    height: 4rem;
    width: 12rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-yellow {
    color: var(--white);
    text-decoration: none;
    font-size: 170%;
    font-weight: 600;
}

/* ----------------------------- FOOTER-------------------------------  */

.footer {
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.footer-logo {
    width: 70%;
    margin-bottom: 2rem;
}

.footer-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}

.footer-menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 130%;
    font-weight: 700;
    letter-spacing: .08rem;
}

.creditos {
    margin-top: 3rem;
    color: var(--white);
    text-align: center;
    font-size: 80%;
}